
.first{
    width: 400px;
    height: 400px;
    border: 2px solid;
    margin: 40px auto;
}
.cont{
    border: 1px solid;
    width: 700px;
    margin: auto;
}

.red {
    background-color: red;
}
.green {
    background-color: green;
}
